@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color: white;
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px 0 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    cursor: pointer;
}

.pages ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.pages li {
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px 0 300px;
    margin-top: 5%;
    gap: 100px
}

.hero-caption {
    max-width: 50%;
}

#hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-caption p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-caption button {
    background-color: #3882F6;
    height: 35px;
    width: 115px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.hero-image {
    height: 100%;
    width: 100%;
}

.hero-image img {
    max-height: 100%;
    width: 100%;
    padding-top: 5px;
    object-fit: fill;
}