@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px 0 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    cursor: pointer;
}

.pages ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.pages li {
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 200px;
    padding-top: 130px;
    padding-bottom: 130px;
    gap: 100px;
}

.hero-caption {
    max-width: 50%;
}

#hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-caption p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-caption button {
    background-color: #3882F6;
    height: 35px;
    width: 115px;
    border: none;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.hero-image {
    height: 100%;
    width: 100%;
}

.hero-image img {
    max-height: 100%;
    width: 100%;
    padding-top: 5px;
    object-fit: fill;
}

/* HIGHLGHTS */
.highlights {
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5%;

}

.highlight-title h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;
}

.highlight-items {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.highlight-items div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.highlight-items p {
    color: #5b6068;
    text-align: center;
    font-size: 18px;
}

.highlight-items span {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #3882F6;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}

.highlight-items span img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}